<html>
    <head>
        <title>activity page</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/emoji.css')}}">
        
    </head>
    <body>
        <div id="age"><h1 class="student">Enter Your Age Group:-</h1>
            <form action="/activies">
            <div class="select">
                
                <select name="Age-Group" class="student" id="year">
                    <option>-------------------------------------------------------------------------------------------</option>
                    <option value="10 - 20" >10 - 20 </option>
                    <option value="20 - 30" >20 - 30 </option>
                    <option value="30 - 40" >30 - 40  </option>
                    <option value="40 - 50" >40 - 50 </option>
                    <option value="50 - 60" >50 - 60 </option>
                    <option value="60 - 70" >60 - 70 </option>
                    <option value="70 - 80" >70 - 80 </option>
                    <option value="80 - 90" >80 - 90 </option>
                    <option value="90 - 100" >90 - 100 </option>
                    
                </select>
                
            </div>
        </div>
    
  <p><button type="submit" class="myButton" id="submit">Next</button></p>
    </form>
    
    </body>

  
</html>