<html>
<head>
    <title> Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fotter.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="cont">
    <img src="{{ url_for('static', filename='images/STRESS.png') }}" style="float: left; padding-right: 5px;" id="logo"><br>
    <h2 style="float: left; padding-top: 10px;color: white;">STRESS RELIEVER</h2>

    <div class="navbar">


        <ul>
            <li><a class="chintu" href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('music') }}">Music</a></li>
            <li><a href="{{ url_for('videos') }}">Videos</a></li>
            <li><a href="{{ url_for('blog') }}">Blogs</a></li>
            <li><a href="{{ url_for('admin') }}">Admin</a></li>


        </ul>
    </div>

    <p class="heading">"The Greatest Weapon Against Stress is Our Ability to Choose One Thought Over Another."</p>
    <div class="center">
        <button class="btn" onclick="window.location.href ='{{ url_for('emoji_page') }}';">Become Stress Free</button>


    </div>
    <div class="footer">
        <p>@Stress Reliever All rights reserved</p>
    </div>


</body>
</html>