
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login popup box</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/ped.css')}}" type="text/css">
</head>
<body>

  <div class="login-popup">
  	 <div class="box">
  	 	 <div class="img-area">
  	 	 	<div class="img">
  	 	 	</div>
  	 	 </div>
  	 	 <form class="form" action="{{ url_for('consult') }}" method="post">
  	 	 	<div class="close">&times;</div>
  	 	 	<h1>Sign Up</h1>
  	 	 	
  	 	 		<div class="form-group">
  	 	 			<input type="email" placeholder="Email" class="form-control" required>
  	 	 		</div>
  	 	 		<div class="form-group">
  	 	 			<input type="text" placeholder="Mobile Number" class="form-control" required>
  	 	 		</div>
  	 	 		
  	 	 		<button type="submit" class="btn">Log In</button>
  	 	 	</form>
  	 	 </div>
  	 </div>
  </div>

<script src="{{ url_for('static', filename='js/pop.js')}}"></script>
</body>
</html>